<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588568821865-f4b9tf4est68psl7uo8uopk1f4glhrlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588568821865-f4b9tf4est68psl7uo8uopk1f4glhrlg</string>
	<key>API_KEY</key>
	<string>AIzaSyBKNZ7mcDRj9J5Hw9qHpojs5KCzSXxOnGw</string>
	<key>GCM_SENDER_ID</key>
	<string>588568821865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.shsConnect</string>
	<key>PROJECT_ID</key>
	<string>school-app-86fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>school-app-86fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588568821865:ios:3d854955a8d5b7cfe662f8</string>
	<key>DATABASE_URL</key>
	<string>https://school-app-86fe6-default-rtdb.firebaseio.com</string>
</dict>
</plist>